
// Fonts

// Variables
@import "variables";

$fresh-link-colour: #0000EE;
$hover-link-colour: #EE0000;
$visited-link-colour: #551A8B;

$primary: #268721;
$success: #2c528e;
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


a { color:$fresh-link-colour; 
    font-weight: bold;}
a:hover { color:$hover-link-colour; }
a:visited { color: $visited-link-colour ; }

td:first-child {
  font-weight: bold;
}
	
.bottom-buffer {
  margin-bottom::10px;
}

.white-space {
  white-space: pre-wrap;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    font-size: 16px;
    padding-bottom: 200px;

}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
}

